{{ define "body" }}
{{ $options := (dict "targetPath" "/css/dashboard.css" "outputStyle" "compressed" "enableSourceMap" true) -}}
<link rel="stylesheet"
    href='{{- (resources.Get "/scss/dashboard.scss" | toCSS $options | minify | fingerprint).Permalink | safeHTMLAttr -}}'>
<ui-checklogin></ui-checklogin>

<main id="dashboard">
    <div class="dimNotLoggedIn">
        <div class="loader">Logging in...</div>
    </div>
    <nav>
        <ul>
            {{ $currentpart := replaceRE "^(.*)/" "$1" $.Page.RelPermalink }}
            {{- range $p :=  .Site.Menus.dashboard -}}
            {{ $urlpart := replaceRE "^/.*(/dashboard/.*)" "$1" $p.URL }}
            {{ $has := eq $currentpart $urlpart }}
            {{ if $has }}
            {{ $.Scratch.Set "classactive" "active" }}
            {{ else }}
            {{ $.Scratch.Set "classactive" "" }}
            {{ end }}
            <li>
                <a class='btn btn-outline-primary d-block m-2 text-nowrap {{ $.Scratch.Get "classactive" }}'
                    href="{{ $p.URL }}">
                    <i class="fas fa-envelope-open-text"></i> {{ $p.Name | safeHTML }}</a>
            </li>
            {{- end -}}
        </ul>
    </nav>
    <div class="container">
        {{ .Content }}
    </div>
</main>
{{ end }}