{{ define "body" }}
<section id="pageheader">
	<div class="d-flex flex-column align-items-center">
		<h1>{{ .Title }}</h1>
		<form style="max-width: 700px;width: 500px;" id="inlinesearch">
			<div class="form-group">
				<input type="search" class="form-control" placeholder="Search {{ .Title }}"
					autofocus="true">
			</div>
			<ui-inlinesearch target="inlinesearch" index="developer"></ui-inlinesearch>
		</form>
	</div>
</section>
{{ $options := (dict "targetPath" "/css/documentation.css" "outputStyle" "compressed" "enableSourceMap" true) -}}
<link rel="stylesheet"
    href='{{- (resources.Get "/scss/documentation.scss" | toCSS $options | minify | fingerprint).Permalink | safeHTMLAttr -}}'>

{{ $cols := split .Content "<split>" }}

<main class="container mt-4">
	<div class="row">
		<div class="col-md-12">
			{{ index $cols 0 | safeHTML }}
		</div>
	</div>
	<div class="row">
		<div class="col mx-4" id="guidechapters">
			<ol>
				{{ range .Pages }}
				<li>
				<a class="post-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
				<p>
					{{- .Summary | safeHTML -}}
				</p>
			</li>
				{{ end -}}
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{{ index $cols 1 | safeHTML }}
		</div>
	</div>
</main>
{{ end }}
