<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='shortcut icon' type='image/ico' href='/img/favicon.ico' />
	<link rel="apple-touch-icon" href="/img/logo.png">
	<title>{{- .Title -}}</title>

	{{ $options := (dict "targetPath" "/css/main.css" "outputStyle" "compressed" "enableSourceMap" true) -}}
	<link rel="stylesheet"
		href='{{- (resources.Get "/scss/main.scss" | toCSS $options | minify | fingerprint).Permalink | safeHTMLAttr -}}'>
	<link rel="stylesheet" async href="/css/fontawesome.min.css">
	<link rel="stylesheet" async href="/css/animate.min.css">
	{{ partial "head.html" . }}
</head>

<body>
	<nav-ajax-page-load></nav-ajax-page-load>
	{{- partial "header.html" . -}}

	{{ block "body" . }}
	<main id="mainContent">
		{{- partial "jsonld.html" . -}}
		{{ block "main" . }}
		{{ .Content }}
		{{ end }}
	</main>
	{{ end }}

	{{- partial "footer.html" . }}
</body>

</html>
