{{ define "body" }}
<section id="pageheader"></section>
<main id="mainContent" class="container mt-4 blog-list">
	{{ $options := (dict "targetPath" "/css/blog.css" "outputStyle" "compressed" "enableSourceMap" true) -}}
	<link rel="stylesheet"
		href='{{- (resources.Get "/scss/blog.scss" | toCSS $options | minify | fingerprint).Permalink | safeHTMLAttr -}}'>

	<div class="row">
		<div class="col-md-9">
			{{ range $p :=  (.Paginator 6).Pages }}
			<article class="blog-post">
				<a class="post-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
				{{ with $p.Date }}
				<div>{{- .Format "January 2, 2006" -}}</div>
				{{ end }}
				{{- with $p.Params.image -}}
				<a class="post-title" href="{{ $p.RelPermalink }}"><img src="{{ . | absURL }}" alt="post-thumb"></a>
				{{- end -}}
				<p>
					{{- $p.Summary | safeHTML -}}
				</p>
				{{ if $p.Truncated -}}
				<a href="{{ $p.RelPermalink }}">Read More</a>
				{{- end }}
			</article>
			<hr>
			{{ end -}}
		</div>
		<div class="col-md-3">
			{{ partial "widget-tags.html" . }}<br>
			{{ partial "widget-recent.html" . }}<br>
			{{ partial "widget-archives.html" . }}
		</div>
	</div>
	<div class="row">
		<div class="col-12 text-center">
			{{ template "_internal/pagination.html" . }}
		</div>
	</div>
</main>
{{ end }}
