footer#footer {
    width: 100%;
    background: #F5F5F5;
    border-top: 1px #EAEAEA solid;
    color: #777;


    .footer-links ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    h3 {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 20px;
        margin-top: 20px;
        font-family: monospace;
        color: black;
    }

    .text {
        color: #dfdfdf;
        padding-right: 20px;
        font-size: 13px;
        line-height: 25px;
    }

    a:hover {
        border-bottom: 1px solid #FF8A65;
        color: #FF8A65;
    }

    a {
        border-bottom: 1px solid transparent;
        color: #FF8A65;
        transition: color .3s;
    }

    .footer-links a {
        color: #777;
        display: block;
        margin-bottom: 10px;
    }

    .footer-links a:hover {
        border-bottom: 1px solid transparent;
        color: #FF8A65;
    }

    .footer-legal {
        text-align: center;
        padding: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 0px;
        color: #5a5a5a;
        font-size: smaller;

    }

    .footer-legal li {
        display: inline-block;
        padding: 0px 20px;
    }

    .footer-legal a {
        display: inline-block;
        color: #5a5a5a;
        padding: 0 0 5px;
        border-bottom: 1px solid transparent;
        transition: all .2s ease-in-out;
    }

    .footer-legal a:hover {
        color: #FF8A65;
        border-bottom: 1px solid #FF8A65;
        padding: 0 0 5px;
    }

}

@media only screen and (max-width: 575px) {
    footer#footer {
        .footer-legal li {
            padding: 0;
            display: inherit;
            border-left: none;
        }

        ul.footer-legal {
            text-align: initial;
            padding-left: 20px;
            padding-right: 20px;
        }

        .container {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    footer#footer {
        .navbar {
            margin-bottom: 0px;
            border: 0px;
            min-height: 40px;
        }

        .navbar-default {
            border: 0px;
            width: 68%;
        }

        .navbar-default .navbar-nav li a {
            color: #494949;
            padding: 10px 10px;
            font-size: 15px;
        }

        .navbar-default .navbar-nav li a:hover {
            color: #000;
        }
    }
}

@media only screen and (max-width: 767px) {
    footer#footer .footer-manu {
        display: none;
    }
}