$theme-colors: ("orange": #ff7214, "primary": #ff8a65);
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1300px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1240px
);

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
// @import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
// @import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
// @import "bootstrap/jumbotron";
@import "bootstrap/alert";
// @import "bootstrap/progress";
@import "bootstrap/media";
// @import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
// @import "bootstrap/popover";
// @import "bootstrap/carousel";
@import "bootstrap/utilities";
@import "bootstrap/print";


@import "_fonts";
@import "_header";
@import "_flag-icon.min";
@import "_breadcrumb";
@import "_footer";
@import "_form";
@import "pageheader";
@import "popover";
@import "bootstrap_callouts";
@import "loader";
@import "tabs";

@font-face {
    font-family: BebasNeueBook;
    src: url(/fonts/BebasNeue-Book.ttf);
}

@font-face {
    font-family: BebasNeueLight;
    src: url(/fonts/BebasNeue-Light.ttf);
}


.btn-link {
    cursor: pointer;
    border: 0;
    padding: 0;
}

.btn-dwnload {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    color: white;
    background-color: #ff8a65;
    border-color: #ff8a65;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.btn-dwnload:hover {
    color: #ff5019;
    background-color: white;
}

i.fas {
    line-height: 1.5;
}

.demolink {
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
    color: inherit;
    padding: 0;
    text-decoration: none;
    margin-bottom: -2px;
    border-bottom: 2px solid theme-color("primary");

    &:after {
        border: .25em solid salmon;
        border-top: none;
        border-radius: 1.5em 1em 2em 1.5em;
        bottom: -.5em;
        content: '';
        left: -.5em;
        position: absolute;
        right: -.5em;
        top: -.1em;
    }

    &:before {
        border-top: .25em solid salmon;
        border-radius: .5em;
        content: '';
        height: 1em;
        left: -.2em;
        position: absolute;
        top: -.2em;
        transform: rotate(-10deg);
        width: 2em;
    }
}

// .btn.btn-primary {
//     background-color: var(--primary);
//     color: var(--background-color);
//     border-color: var(--primary);
//   }

[v-cloak] {
    display: none;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Roboto", "Helvetica Neue", 'Open Sans', helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

a[target="_blank"]:not(.noref):after {
    line-height: 1.5;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    margin-left: .5rem;
    content: "\f35d";
}

.contexthelp {
    cursor: help;

    &:after {
        line-height: 1.5;
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        margin-left: .5rem;
        content: "\f05a";
    }
}

footer {
    flex-shrink: 0;
}

h2 {
    font-size: 30px;
    font-weight: 400;
}

h3 {
    font-size: 28px;
    font-weight: 300;
}

p {
    font-size: 17px;
    line-height: 1.5em;
}

ul.no {
    padding: 0;
    margin: 0;
    list-style: none;
}

a,
a:active,
a:focus,
a:active {
    text-decoration: none !important;
    color: #FF8A65;
    transition: color .3s ease-in-out;
}

label {
    margin-bottom: 0;
}

// body>main {
//     margin-top: 76px;
// }

@include media-breakpoint-down(lg) {
    body>main {
        margin-top: 0;
    }
}

.section {
    padding: 35px 0;
}

.minisection {
    padding: 100px 0;
}

.section-title {
    margin-bottom: 70px;
}

.section-title h2 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
}

.section-title p {
    font-family: 'Volkhov', serif;
    font-style: italic;
    color: #666;
}

.scalezero {
    transform: scaleY(0);
    transition: transform 0.8s ease;
}

.scaleenable {
    transform: scaleY(1);
    transition: transform 0.8s ease;
}

.maxw {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.grid-gap {
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    grid-template-columns: min-content;
    justify-content: start;
}

.imprintblock {
    display: inline-block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

@include media-breakpoint-between(md,lg) {
    #wrapper {
        text-align: center;
    }

    #wrapper .block img {
        padding-top: 100px;
        width: 50%;
    }

    #content {
        text-align: center;
    }

    #content .block {
        padding-bottom: 100px;
    }

    #wrapper-contact .block {
        padding-bottom: 50px;
    }
}
 
@include media-breakpoint-down(md) {
    .heading {
        padding-left: 0px;
    }

    h2 {
        font-size: 18px;
    }

    header .navbar-default .navbar-toggle {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #wrapper {
        text-align: center;
        padding-top: 70px;
        padding-bottom: 100px;
    }

    #wrapper .block img {
        padding-top: 100px;
        padding-left: 0px;
        width: 100%;
    }

    #content {
        text-align: center;
        padding-top: 70px;
    }

    #content .block {
        padding-bottom: 100px;
    }

    #content .block h2 {
        padding-top: 0px;
    }

    #content .block-bottom {
        padding: 0px;
    }

    #content .block-bottom .item-img {
        padding-left: 0px;
    }
}

nav#TableOfContents {
    margin-left: -20px;
}


.card-hover {
    display: inline-block;
    border: 1px solid transparent;
    transition: border 0.5s;
}

.card-hover:hover {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.copy-button {
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
    color: maroon;
    border: 1px solid maroon;
    cursor: pointer;
}

.copy-button:hover {
    background-color: maroon;
    color: white;
}

div.highlight table {
    position: relative;
}