{{ define "main" }}

{{ $archive := lower .Title }}

<section class="container my-4">
    <div class="row">
        <div class="col-9">
            {{ range $key, $value := .Site.Taxonomies.archives }}{{ if eq $key $archive }}{{ range $value.Pages }}
            <article class="blog-post">
                {{- with .Params.image -}}
                <img src="{{ . | absURL }}" class="img-responsive" alt="post-thumb">
                {{- end -}}
                <a class="post-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{ with .Date }}
                <div>{{- .Format "January 2, 2006" -}}</div>
                {{ end }}
                <p>
                    {{- .Summary | safeHTML -}}
                </p>
                {{ if .Truncated -}}
                <a href="{{ .RelPermalink }}">Read More</a>
                {{- end }}
            </article>
            <hr>
            {{ end }}{{ end }}{{ end }}
        </div>
        <div class="col-3">
            {{ partial "widget-tags.html" . }}<br>
            {{ partial "widget-recent.html" . }}<br>
            {{ partial "widget-archives.html" . }}
        </div>
    </div>
</section>

{{ end }}
