<script defer type="module" src="/js/cmp/tooltip.js"></script>
<script defer type="module" src="/js/cmp/ui-tabs.js"></script>
<script defer type="module" src="/js/cmp/inlinesearch.js"></script>
<script defer type='module' src="/js/cmp/headerbar.js"></script>
<script defer type='module' src="/js/cmp/nav-ajax-page-load.js"></script>
<script defer type='module' src="/js/cmp/clipboard.js"></script>

<script defer type="module" src="/js/cmp/checklogin.js"></script>
<script defer type="module" src="/js/cmp/ui-loginstatus.js"></script>

<script defer type="module" src="/js/cmp/bind-to-input.js"></script>
