{{ define "body" }}
<section id="pageheader">
	<div class="d-flex flex-column align-items-center">
		<form style="max-width: 700px;width: 500px;">
			<div class="form-group">
				<input class="form-control" placeholder="Search for Producs, Vendors, Addons and Rule Templates"
					autofocus="true">
			</div>
			<div class="form-group d-flex justify-content-around">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="chkBindings" checked>
					<label class="custom-control-label" for="chkBindings">Bindings</label>
				</div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="chkIOServices" checked>
					<label class="custom-control-label" for="chkIOServices">IO Services</label>
				</div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="chkRuleTemplates" checked>
					<label class="custom-control-label" for="chkRuleTemplates">Rule Templates</label>
				</div>
			</div>
		</form>
	</div>
</section>
<main id="mainContent" class="container" style="height: calc(100vh - 300px);">
	{{ markdownify .Content }}
</main>
{{ end }}
