{{- $langs := (slice "yaml" "toml" "json") -}}
<div class="code-toggle">
	<tab-container {{ with .Get "file" }}id="{{ . | urlize}}"{{ end }}>
		<tab-header>
			{{ range $langs }}
			<tab-header-item class="{{ cond (eq . "yaml") "tab-active" ""}}">{{ . }}</tab-header-item>
			{{ end }}
		</tab-header>
		<tab-body>
			{{ range $langs }}
			<tab-body-item class="{{ cond (eq . "yaml") "" "tab-no-overflow"}}">
				{{ highlight ($.Inner | transform.Remarshal . | safeHTML) . ""}}
			</tab-body-item>
			{{ end }}
		</tab-body>
	</tab-container>
</div>